<div class="mb-5">
  <p class=""><span
      class="bg-gray-400 text-white inline-flex items-center justify-center px-2 py-1 mr-2 text-xs leading-none rounded"><%= entry.feed.rank.round %></span><a
      target="_BLANK" class="no-underline overflow-ellipsis overflow-hidden hover:underline text-blue-700"
      href="<%= entry.url %>"><%= highlight(entry.title, params[:q]) %></a> - <span
      class="text-gray-600 text-sm"><%= "#{time_ago_in_words(entry.published_at, include_seconds: true)} ago" %></span><br>
  </p>
  <div class="mb-1">
    <span class="font-light overflow-ellipsis overflow-hidden text-green-600"><%= entry.url.truncate(200, omission: '... (continue)') %></span>
  </div>
  <span
    class="text-justify"><%= sanitize(highlight(entry.body.truncate(700, omission: '... (continue)'), params[:q]), tags: %w(strong em a mark), attributes: %w(href)) %></span>
  <div class="my-1">
    <% entry.categories.take(6).each do |category| %>
      <span class="font-light bg-gray-100 p-1 text-sm text-gray-600"><%= category %></span>
    <% end %>
  </div>
</div>